<section class="banner-area relative" id="home">
  <div class="overlay overlay-bg"></div>
  <div class="container">
  <div class="row fullscreen d-flex align-items-center justify-content-center" style="height: 645px;">
  <div class="banner-content col-lg-7 col-md-6 ">
  <h6 class="text-white ">the Royal Essence of Journey</h6>
  <h1 class="text-white text-uppercase">
    You need a car?
  </h1>
  <p class="pt-20 pb-20 text-white">
    We offer the best cars for your money. Fast, efficient and available online.
  </p>
  <a class="btn btn-primary btn-lg" routerLink="/cars" role="button">See cars</a>
  </div>
  <div class="col-lg-5  col-md-6 header-right">
  <h4 class="text-white pb-30">Book Your Car Today!</h4>
  <form class="form" role="form" autocomplete="off">
  <div class="form-group">
  <div class="default-select" id="default-select" >
  <select class="nice-select">
  <option value="" disabled="" selected="" hidden="">Select Your Car Type</option>
  <option value="1">BMW</option>
  <option value="1">Farrari</option>
  <option value="1">Toyota</option>
  </select>
  </div>
  </div>
  <div class="form-group row">
  <div class="col-md-12">
  <div class="input-group dates-wrap">
  <input id="datepicker" class="dates form-control hasDatepicker" bsDaterangepicker bsDaterangepicker [bsConfig]="dpConfig"
      (bsValueChange)="onValueChange($event)" placeholder="Date &amp; time" type="text">
  </div>
  </div>
  </div>
  <div class="from-group">
  <input class="form-control txt-field" type="text" name="name" placeholder="City">
  </div>
  <div class="form-group row">
  <div class="col-md-12">
  <button type="reset" class="btn btn-primary btn-lg btn-block text-center text-uppercase">Search for Cars</button>
  </div>
  </div>
  </form>
  </div>
  </div>
  </div>
  </section>
