
  <div class="row">
    <div class="col-lg-5" >
      <img src="{{car.imageUrl}}" class="card-img-top" alt="...">
    </div>
    <div class="card-body col-lg-7">
      <h5 class="card-title"> {{car.brand}} {{car.model}} </h5>
      <p class="card-text"> {{car.description}} </p>
      <div>
        <a class="btn btn-primary nav-link" (click)="openModal(modalCarDetails)">Details</a>
      </div>
    </div>
  </div>

<ng-template #modalCarDetails>
  <div class="modal-header">
    <h4 class="modal-title pull-left"> {{car.brand }} {{car.model}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
        <img [src]="car?.imageUrl" style="display: block; width: 100%;">
    <hr>
    <p> {{car.description}} </p>
    <p> Year: {{car.year}} </p>
    <p> Brand: {{car.brand}} </p>
    <p> Model: {{car.model}} </p>
    <p> Type: {{car.carType}} </p>
    <p> Price: {{car.pricePerDay | currency}} </p>
    Days for rent:
    <input type="text" placeholder="Choose your dates" bsDaterangepicker [bsConfig]="dpConfig"
      (bsValueChange)="onValueChange($event)" />
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" (click)="onCreateReservation()" [disabled]="!dateValid">Rent
    </button>
  </div>
</ng-template>