
  <div class="row" style="margin-bottom: 8px;">
    <div class="col-lg-5" >
      <img src="{{car.imageUrl}}" class="card-img-top" alt="...">
    </div>
    <div class="card-body col-lg-7">
      <h5 class="card-title text"> {{car.brand}} {{car.model}} </h5>
      <p class="card-text"> {{car.description}} </p>
      <hr width="100%">
      <div class="row" style="padding: 0 1rem;">
    
        <label class="col-lg-6 price" >Price per day: {{car.pricePerDay | currency}} </label>
        <button id="button-basic" type="button" class="btn btn-primary col-lg-6" (click)="openModal(modalCarDetails)">
          Details 
      </button>
      </div>
    </div>
  </div>

<ng-template #modalCarDetails>
  <div class="modal-header">
    <h4 class="modal-title pull-left"> {{car.brand }} {{car.model}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
        <img [src]="car?.imageUrl" style="display: block; width: 100%;">
    <hr>
    <p> {{car.description}} </p>
    <p > <b>Year: </b> {{car.year}} </p>
    <p> <b>Brand: </b> {{car.brand}} </p>
    <p> <b>Model: </b> {{car.model}} </p>
    <p> <b>Type: </b> {{car.carType}} </p>
    <p> <b>Price: </b> {{car.pricePerDay | currency}} </p>
    <b>Days for rent: </b>
    <input type="text" placeholder="Choose your dates" bsDaterangepicker [bsConfig]="dpConfig"
      (bsValueChange)="onValueChange($event)" class="datePickerOnDetails" value="dpConfig.value"/>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" (click)="onCreateReservation()" [disabled]="!dateValid">Rent
    </button>
  </div>
</ng-template>