.card {
  display: inline-block;
  margin: 2px;
  border-color: white;
}

.card-body>a {
  color: white;
}
.card-body {
  padding: 0 1.25px;
}

.style {
  display: flex;
  flex-wrap: wrap;       
  padding: 0 5px;
  justify-content: space-evenly;
}
.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.37rem;
  align-items: center;
  padding-left: 600px;
}
.sort {
  margin-top: 20px;
}

.card-header:first-child {
  margin: 20px 0;
}
