<section class="section-content padding-y">
  <div class="container">

    <div class="row">
      <aside class="col-md-3">

        <div class="card">
          <article class="filter-group">
            <header class="card-header">
              <a data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" class="">
                <h6 class="title">Choose filters</h6>
              </a>
            </header>
            <div class="filter-content collapse show" id="collapse_1" style="">
              <div class="card-body">
                <form class="pb-3">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" [(ngModel)] = "filterCriteria.searchCriteria" name="search" (change)="onSearch()">
                    <div class="input-group-append">
                      <button class="btn btn-light" type="button"><i class="fa fa-search" (click) = "onSearch()"></i></button>
                    </div>
                  </div>
                </form>
              </div> <!-- card-body.// -->
            </div>
          </article> <!-- filter-group  .// -->
          <article class="filter-group">
            <header class="card-header">
              <a href="#" data-toggle="collapse" data-target="#collapse_2" aria-expanded="true" class="">
                <h6 class="title">Brands </h6>
              </a>
            </header>
            <div class="filter-content collapse show" id="collapse_2" style="" *ngFor="let brand of carsBrand">
              <div class="card-body">
                <label class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" (change)="onCarBrandChange($event)" id="{{brand}}">
                  <div class="custom-control-label">{{brand}}
                  </div>
                </label>
              </div> <!-- card-body.// -->
            </div>
          </article> <!-- filter-group .// -->
          <article class="filter-group">
            <header class="card-header">
              <a href="#" data-toggle="collapse" data-target="#collapse_5" aria-expanded="true"  class="">
                <h6 class="title">Car type </h6>
              </a>
            </header>
            <div class="filter-content" id="collapse_5" style="" *ngFor = "let type of carsType">
              <div class="card-body">
                <label class="custom-control custom-radio">
                  <input type="radio" name="myfilter_radio" class="custom-control-input" (change)="onCarTypeChange($event)" id="{{type}}">
                  <div class="custom-control-label">{{type}}</div>
                </label>
              </div><!-- card-body.// -->
            </div>
          </article> <!-- filter-group .// -->
          
          <article class="filter-group">
            <header class="card-header">
              <a href="#" data-toggle="collapse" data-target="#collapse_3" aria-expanded="true" class="">
                <h6 class="title">Price range per day</h6>
              </a>
            </header>
            <div class="filter-content collapse show" id="collapse_3" style="">
              <div class="card-body">
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label>Min</label>
                    <input class="form-control" placeholder="$0" type="number" [(ngModel)] = "filterCriteria.minPrice">
                  </div>
                  <div class="form-group text-right col-md-6">
                    <label>Max</label>
                    <input class="form-control" placeholder="$400" type="number" [(ngModel)] = "filterCriteria.maxPrice" (change)="onSliderChange()" >
                  </div>
                </div> <!-- form-row.// -->
                <button class="btn btn-block btn-primary" (click) = "filterByPrice()">Apply</button>
              </div><!-- card-body.// -->
            </div>
          </article> <!-- filter-group .// -->
        </div>
        <!-- card.// -->

      </aside> <!-- col.// -->
      <main class="col-md-9">

        <header class="border-bottom mb-4 pb-3">
          <div class="form-inline">
            <div class="sort">
              <div class="btn-group" dropdown>
                <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                  aria-controls="dropdown-basic">
                  Sort By <span class="caret"></span>
                </button>
                <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                  <li role="menuitem"><a class="dropdown-item" (click)="sortByName()">Name</a></li>
                  <li role="menuitem"><a class="dropdown-item" (click)="sortByCarYear()">Car Year</a></li>
                  <li role="menuitem"><a class="dropdown-item" (click)="sortByPrice('asc')">Price(ASC)</a></li>
                  <li role="menuitem"><a class="dropdown-item" (click)="sortByPrice('desc')">Price(DESC)</a></li>
                </ul>
              </div>
            </div>
          </div>
        </header><!-- sect-heading -->

        <div class="style" *ngFor="let car of carsList | paginate: paginationConfig">
          <div class="style">
            <app-car-component [car]='car'></app-car-component>
          </div> <!-- row.// -->
        </div>
      </main> <!-- col.// -->
    </div>
    <div class="col-md-9 pagination" *ngIf="carsList.length > 5  ">
      <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
    </div>
  </div> <!-- container .//  -->
  <br>
</section>
<br>


{{message}}