/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');

body {
    background:#f8f9fa;
    /* fallback for old browsers */
    background:#f8f9fa;
    /* Chrome 10-25, Safari 5.1-6 */
    background:#f8f9fa;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    font-family: 'Questrial', sans-serif;
}

