<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <link rel="stylesheet" type="text/css" href="http://cdn.dcodes.net/2/payment_icons/dc_payment_icons.css" />
  <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/checkout/">

  <!-- Custom styles for this template -->
  <link rel="payment.component.css" rel="stylesheet">
</head>

<body class="bg-light">

  <div class="jumbotron">
    <div class="row">
      <div class="col-md-8 order-md-1">
        <h4 class="mb-3">Billing address</h4>

        <form [formGroup]="angForm" (ngSubmit)="onSubmit()" id="receipt" #receipt>
          <div class="row">
            <div class="col-md-6 mb-3">
              <div class="form-group">
                <label>First Name*</label>
                <input type="text" minlength="2" formControlName="firstName" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                  <div *ngIf="f.firstName.errors.required">First Name is required</div>
                  <div *ngIf="f.firstName.errors.minLength">Please enter valid first name</div>
                </div>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <div class="form-group">
                <label>Last Name*</label>
                <input type="text" minlength="2" formControlName="lastName" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                  <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                  <div *ngIf="f.lastName.errors.minLength">Please enter valid last name</div>
                </div>
              </div>
            </div>
          </div>

          <div class="mb-3">
            <div class="form-group">
              <label>Email*</label>
              <input type="text" formControlName="email" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
              </div>
            </div>
          </div>

          <div class="mb-3">
            <div class="form-group">
              <label>Address*</label>
              <input type="text" minlength="2" formControlName="address" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.address.errors }" />
              <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                <div *ngIf="f.address.errors.required">Address is required</div>
                <div *ngIf="f.address.errors.minlength">Please enter valid address</div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-5 mb-3">
              <div class="form-group">
                <label>Country*</label>
                <input type="text" minlength="2"formControlName="country" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.country.errors }" />
                <div *ngIf="submitted && f.country.errors" class="invalid-feedback">
                  <div *ngIf="f.country.errors.required">Country is required</div>
                  <div *ngIf="f.country.errors.minlength">Please enter valid country</div>
                </div>
              </div>
            </div>

            <div class="col-md-3 mb-3">
              <div class="form-group">
                <label>Zip*</label>
                <input type="number" formControlName="zip" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.zip.errors }" />
                <div *ngIf="submitted && f.zip.errors" class="invalid-feedback">
                  <div *ngIf="f.zip.errors.required">Zip is required</div>
                </div>
              </div>
            </div>
          </div>

          <hr class="mb-4">
          <h4 class="mb-3">Payment</h4>
          <span class="dc_payment_icons_glossy_75 dc_visa_glossy" title="Visa"></span>
          <span class="dc_payment_icons_glossy_75 dc_mastercard_glossy" title="Mastercard"></span>
          <span class="dc_payment_icons_glossy_75 dc_americanexpress_glossy" title="American Express"></span>
          <span class="dc_payment_icons_glossy_75 dc_discover_glossy" title="Discover"></span>
          <span class="dc_payment_icons_glossy_75 dc_paypal_glossy" title="PayPal"></span>
          <span class="dc_payment_icons_glossy_75 dc_maestro_glossy" title="Maestro"></span>
          <span class="dc_payment_icons_glossy_75 dc_cirrus_glossy" title="Cirrus"></span>
          <span class="dc_payment_icons_glossy_75 dc_visaelectron_glossy" title="Visa Electron"></span>

          <div class="row">
            <div class="col-md-6 mb-3">
              <div class="form-group">
                <label>Credit Card Name*</label>
                <input type="text" minlength="2" formControlName="cardName" class="form-control" id="cardName"
                  [ngClass]="{ 'is-invalid': submitted && f.cardName.errors }" />
                <div *ngIf="submitted && f.cardName.errors" class="invalid-feedback">
                  <div *ngIf="f.cardName.errors.required">Card Name is required</div>
                  <div *ngIf="f.cardName.errors.minlength">Please enter valid card name</div>
                </div>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <div class="form-group">
                <label>Credit Card Number*</label>
                <input  type="text" minlength="16" pattern="\d*" maxlength="16" formControlName="ccNumber" class="form-control" id="ccNumber"
                  [ngClass]="{ 'is-invalid': submitted && f.ccNumber.errors }"/>
                <div *ngIf="submitted && f.ccNumber.errors" class="invalid-feedback">
                  <div *ngIf="f.ccNumber.errors.required">Credit Card Number is required</div>
                  <div *ngIf="f.ccNumber.errors.pattern">Credit Card Number should be numeric</div>
                  <div *ngIf="f.ccNumber.errors.minlength">Credit Card Number should have 16 numbers</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 mb-3">
              <div class="form-group">
                <label>CC Expiration Date*</label>
                <input placeholder="MM/YY" type="text" maxlength="5" pattern="^(0[1-9]|1[0-2])\/(|[2-5]{1}[1-9]{1})$" formControlName="ccExpiration" class="form-control" id="ccExpiration"
                  [ngClass]="{ 'is-invalid': submitted && f.ccExpiration.errors }" value="/" />
                <div *ngIf="submitted && f.ccExpiration.errors" class="invalid-feedback">
                  <div *ngIf="f.ccExpiration.errors.required">Credit Card Expiration is required</div>
                  <div *ngIf="f.ccExpiration.errors.pattern">Please enter valid expiration date (MM/YY)</div>
                </div>
              </div>
            </div>
            <div class="col-md-3 mb-3">
              <div class="form-group">
                <label>CCV*</label>
                <input type="text" minlength="3" pattern="\d*" maxlength="16" formControlName="ccv" class="form-control" id="ccv"
                  [ngClass]="{ 'is-invalid': submitted && f.ccv.errors }" />
                <div *ngIf="submitted && f.ccv.errors" class="invalid-feedback">
                  <div *ngIf="f.ccv.errors.required">CCV is required</div>
                  <div *ngIf="f.ccv.errors.minlength">CCV should have at least 3 numbers</div>
                  <div *ngIf="f.ccv.errors.pattern">CCV should be numeric</div>
                </div>
              </div>
            </div>
          </div>
          <hr class="mb-4">
          <h4 class="mb-3">Total price for selected dates: {{reservation.totalPrice | currency}}</h4>
          <hr class="mb-4">
          <div class="form-group">
            <div *ngIf="!reservation.totalPrice" style="color: red;">Reservation is not correct please try again!</div>
            <button [disabled]="!reservation.totalPrice" class="btn btn-primary btn-lg btn-block" type="submit">Complete
              reservation</button>
          </div>

        </form>
      </div>
    </div>
    <footer class="my-5 pt-5 text-muted text-center text-small">
      <p class="mb-1">&copy; 2020 DRAOS2</p>
      <ul class="list-inline">
        <li class="list-inline-item"><a href="#">Privacy</a></li>
        <li class="list-inline-item"><a href="#">Terms</a></li>
        <li class="list-inline-item"><a href="#">Support</a></li>
      </ul>
    </footer>
  </div>

  <div  style="display: none;">
    <table class="tg" width="100%"  >
      <thead>
        <tr>
          <th class="tg-fymr" colspan="2">CAR RENTAL CONFIRMATION</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="tg-jbzf" colspan="2">Company information</td>
        </tr>
        <tr>
          <td class="tg-0pky">Company Name</td>
          <td class="tg-0pky">DRAOS</td>
        </tr>
        <tr>
          <td class="tg-0pky">Agent</td>
          <td class="tg-0pky">John Doe</td>
        </tr>
        <tr>
          <td class="tg-0pky">Reservation status</td>
          <td class="tg-0pky">Approved</td>
        </tr>
        <tr>
          <td class="tg-jbzf" colspan="2">Customer information</td>
        </tr>
        <tr>
          <td class="tg-0pky">First Name</td>
          <td class="tg-0pky">first_name</td>
        </tr>
        <tr>
          <td class="tg-0pky">Last Name</td>
          <td class="tg-0pky">last_name</td>
        </tr>
        <tr>
          <td class="tg-0pky">Date of reservation</td>
          <td class="tg-0pky">date</td>
        </tr>
        <tr>
          <td class="tg-0pky">Address</td>
          <td class="tg-0pky">address</td>
        </tr>
        <tr>
          <td class="tg-0pky">Country</td>
          <td class="tg-0pky">country</td>
        </tr>
        <tr>
          <td class="tg-0pky">Zip</td>
          <td class="tg-0pky">Number of users who gave a review</td>
        </tr>
        <tr>
          <td class="tg-0pky">Payment type</td>
          <td class="tg-0pky">Number of critical reviews on imdb</td>
        </tr>
        <tr>
          <td class="tg-0pky" colspan="2"></td>
        </tr>
        <tr>
          <td class="tg-0pky" colspan="2"></td>
        </tr>
        <tr>
          <td class="tg-0pky">Amount</td>
          <td class="tg-0pky">price</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
  <script src="../../assets/js/vendor/popper.min.js"></script>
  <script src="../../dist/js/bootstrap.min.js"></script>
  <script src="../../assets/js/vendor/holder.min.js"></script>
  <script>
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function () {
        'use strict';

        window.addEventListener('load', function () {
          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.getElementsByClassName('needs-validation');

          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(forms, function (form) {
            form.addEventListener('submit', function (event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();
  </script>
</body>